{form name='edit-goal-form'}
<table class="ow_table_1 ow_form">
    <tr>
        <td class="ow_label">{label name='name'}</td>
        <td class="ow_value">{input name='name'}</td>
    </tr>
       <tr>
           <td class="ow_label">{label name='description'}</td>
           <td class="ow_value">{input name='description'}</td>
       </tr>
       <tr>
           <td class="ow_label ow_nowrap">{label name='target'}</td>
           <td class="ow_value">{input name='target'}</td>
       </tr>
       <tr>
           <td class="ow_label ow_nowrap">{label name='current'}</td>
           <td class="ow_value">{input name='current'}</td>
       </tr>
       <tr>
           <td class="ow_label ow_nowrap">{label name='min'}</td>
           <td class="ow_value">{input name='min'}</td>
       </tr>
       <tr>
           <td class="ow_label">{label name='end'}</td>
           <td class="ow_value">{input name='end'}</td>
       </tr>
</table>
<div class="ow_center">{submit name='update'}</div>
{/form}