{$menu}

<div class="ow_superwide ow_automargin">
{form name='settings-form'}
<table class="ow_table_1 ow_form">
    <tr class="ow_tr_first">
        <th colspan="3" class="ow_name ow_txtleft">
            <span class="ow_section_icon ow_ic_gear_wheel">{text key='ocsfundraising+settings'}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label" style="width: 35%">{label name='allow_paypal'}</td>
        <td class="ow_value" style="width: 40%">{input name='allow_paypal'}</td>
        <td class="ow_desc" style="width: 25%">{text key='ocsfundraising+paypal_note'}</td>
    </tr>
    <tr><td colspan="3">{decorator name='button' type='submit' langLabel='ocsfundraising+update'}</td></tr>
</table>
{/form}
</div>