
<div class="clearfix">
    <div class="ow_right ow_stdmargin"><a href="http://oxcandystore.com/?pk=ocsfundraising"><img src="{$logo}" /></a></div>
</div>

{$menu}

{block_decorator name='box' type='empty'}

{if $list}
<form method="post">
<table class="ow_table_2">
    <tr>
        <th></th>
        <th>{text key='ocsfundraising+name'}, {text key='ocsfundraising+description'}</th>
        <th>{text key='ocsfundraising+target_amount'}, {$currency}</th>
        <th>{text key='ocsfundraising+current_amount'}, {$currency}</th>
        <th>%</th>
        <th>{text key='ocsfundraising+end_date'}</th>
        <th>{text key='ocsfundraising+status'}</th>
        <th></th>
    </tr>
    {foreach from=$list item='goal'}
    {capture assign='goalId'}{$goal->id}{/capture}
    <tr class="ow_alt{cycle values='1,2'}">
        <td><input type="checkbox" class="project_checkbox" data-gid="{$goal->id}" /></td>
        <td class="ow_txtleft">
            <b>{$goal->name}</b><div class="ow_small" style="width: 400px;">{$goal->description}</div>
            {if $donations[$goalId]}<a class="ow_small" href="{url_for_route for="ocsfundraising.admin_donations:[goalId=>`$goal->id`]"}">{text key='ocsfundraising+view_donations'} ({$donations[$goalId]})</a>{/if}
        </td>
        <td>{$goal->amountTarget}</td>
        <td>{$goal->amountCurrent}</td>
        <td>{math equation="round(x/y*100)" x=$goal->amountCurrent y=$goal->amountTarget}</td>
        <td class="ow_small">{$goal->endStamp}</td>
        <td>
            <span style="padding: 0 2px 2px" class="ow_small ow_mild_{if $goal->status=='active'}green{else}red{/if}">{text key="ocsfundraising+status_`$goal->status`"}</span>
        </td>
        <td>
            <a class="ow_lbutton ocs_goal_edit" data-gid="{$goal->id}" href="javascript://">{text key='base+edit'}</a>
        </td>
    </tr>
    {/foreach}
    {if $list}<tr><td colspan="8" class="ow_txtleft">
    {text key='base+with_selected'}
    {decorator name='button_list_item' langLabel='admin+delete' id='btn-delete-selected' class='ow_red'}
    </td></tr>{/if}
</table>
</form>
{else}
    <div class="ow_nocontent">{text key='ocsfundraising+no_goals'}</div>
{/if}
{/block_decorator}

<div class="ow_automargin ow_superwide">
{block_decorator name='box_cap' langLabel='ocsfundraising+add_goal' iconClass='ow_ic_add'}{/block_decorator}
{block_decorator name='box'}
{form name='goal-add-form'}
<table class="ow_table_1 ow_form">
    <tr>
        <td class="ow_label">{label name='name'}</td>
        <td class="ow_value">{input name='name'}<br/>{error name='name'}</td>
    </tr>
	<tr>
	    <td class="ow_label">{label name='description'}</td>
	    <td class="ow_value">{input name='description'}{error name='description'}</td>
	</tr>
    <tr>
        <td class="ow_label">{label name='category'}</td>
        <td class="ow_value">{input name='category'} {error name='category'}</td>
    </tr>
    <tr>
        <td class="ow_label">{label name='image'}</td>
        <td class="ow_value">{input name='image'}</td>
    </tr>
	<tr>
	    <td class="ow_label">{label name='target'}</td>
	    <td class="ow_value"><b>{$currency}</b> {input name='target' class='ow_settings_input'}<br/>{error name='target'}</td>
	</tr>
	<tr>
        <td class="ow_label">{label name='min'}</td>
        <td class="ow_value"><b>{$currency}</b> {input name='min' class='ow_settings_input'}</td>
    </tr>
	<tr>
	    <td class="ow_label">{label name='end'}</td>
	    <td class="ow_value">{input name='end'}</td>
    </tr>
</table>
<div class="ow_center">{submit name='add'}</div>
{/form}
{/block_decorator}
</div>